<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pilates-Modela tu cuerpo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/stylenosotros.css" />
  </head>
  <body>
    <nav class="nav">
      <a href="../index.html">
        <img class="nav__img" src="../img/yoga-svgrepo-com.svg" alt="logo de pilates" />
      </a>
      <ul>
        <li><a href="../views/profesoras.html">Profesoras</a></li>
        <li><a href="../views/precios.html">Precios</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="../views/nosotros.html">Nosotros</a></li>
      </ul>
    </nav>
  <main>
    <div><h3>Titulo quienes somos</h3></div>
    <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam eveniet laudantium doloremque saepe alias dolorem, unde, nesciunt voluptates similique eum odio. Voluptatem explicabo expedita ab, repellat ut minus iure nobis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus suscipit nulla mollitia, esse accusantium veritatis consequuntur qui fuga magni fugiat voluptas atque molestias soluta? Beatae eos recusandae voluptatum iusto sequi?</p></div></main>
    <div><h4>Seguinos en nuestras redes</h4></div>
    <footer class="footer">
      <a href="https://www.instagram.com/lautaro_agustin07/"
        ><img class="footer__img" src="../img/instagram-svgrepo-com.svg" alt="instagram"
      /></a>

    </footer>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
  </body>
</html>
