<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pilates-Modela tu cuerpo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleprofesoras.css" />
  </head>
  <body>
    <nav class="nav">
      <a href="../index.html">
        <img class="nav__img" src="../img/yoga-svgrepo-com.svg" alt="logo de pilates" />
      </a>
      <ul>
        <li><a href="../views/profesoras.html">Profesoras</a></li>
        <li><a href="../views/precios.html">Precios</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="../views/nosotros.html">Nosotros</a></li>
      </ul>
    </nav>
    <main class="w-20 ">
      <div id="carouselExampleCaptions" class="carousel slide mx-auto
      mb-5" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/profesora.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nombre apellido</h5>
              <p>Horaio y dias de clases</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/profesora.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nombre apellido</h5>
              <p>Horaio y dias de clases</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/profesora.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nombre apellido</h5>
              <p>Horaio y dias de clases</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </main>
    <div><h4>Seguinos en nuestras redes</h4></div>
    <footer class="footer">
      <a href="https://www.instagram.com/lautaro_agustin07/"
        ><img class="footer__img" src="../img/instagram-svgrepo-com.svg" alt="instagram"
      /></a>
    </footer>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
  </body>
</html>
